.ProseMirror {
  padding-block: 10px;
  box-shadow: none; /* Removes any shadow if there is one */

  background-color: white;
}

.ProseMirror strong {
  font-weight: 500;
}

.ProseMirror::-webkit-scrollbar {
  width: 8px;
}

.ProseMirror::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.ProseMirror::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.ProseMirror::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

/* ---------- */
.ProseMirror h1 {
  font-size: 1.5rem; /* or 30px */
  margin: 0.6em 0;
}

.ProseMirror h2 {
  font-size: 1.2rem; /* or 24px */
  margin: 0.4em 0;
}
